openapi: 3.1.0
info:
  title: Gusto Embedded Payroll BankAccounts PaySchedules API
  version: 1.0.0
  description: 'REST API for embedding Gusto''s payroll, tax filing, and HR workflows into

    third-party platforms. Supports companies, contractors, employees,

    payrolls, contractor payments, bank accounts, pay schedules, flows,

    reports, and webhook events. Date-based API versioning. Authentication is

    via OAuth 2.0 for company-level access or a system-level bearer token for

    partner operations, with fine-grained scopes.

    '
  contact:
    name: Gusto Developer Documentation
    url: https://docs.gusto.com/embedded-payroll
servers:
- url: https://api.gusto.com
  description: Gusto production API
security:
- bearerAuth: []
tags:
- name: PaySchedules
paths:
  /v1/companies/{company_id}/pay_schedules:
    get:
      summary: List pay schedules
      operationId: listPaySchedules
      tags:
      - PaySchedules
      parameters:
      - in: path
        name: company_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of pay schedules.
    post:
      summary: Create pay schedule
      operationId: createPaySchedule
      tags:
      - PaySchedules
      parameters:
      - in: path
        name: company_id
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Pay schedule created.
  /v1/companies/{company_id}/pay_schedules/{pay_schedule_id}:
    put:
      summary: Update pay schedule
      operationId: updatePaySchedule
      tags:
      - PaySchedules
      parameters:
      - in: path
        name: company_id
        required: true
        schema:
          type: string
      - in: path
        name: pay_schedule_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Pay schedule updated.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth 2.0 access token for company-level access or system-level bearer

        token for partner operations. Scopes such as payrolls:read, payrolls:run,

        contractors:write provide fine-grained permissions.

        '
