openapi: 3.1.0
info:
  title: Gusto Embedded Payroll BankAccounts Reports API
  version: 1.0.0
  description: 'REST API for embedding Gusto''s payroll, tax filing, and HR workflows into

    third-party platforms. Supports companies, contractors, employees,

    payrolls, contractor payments, bank accounts, pay schedules, flows,

    reports, and webhook events. Date-based API versioning. Authentication is

    via OAuth 2.0 for company-level access or a system-level bearer token for

    partner operations, with fine-grained scopes.

    '
  contact:
    name: Gusto Developer Documentation
    url: https://docs.gusto.com/embedded-payroll
servers:
- url: https://api.gusto.com
  description: Gusto production API
security:
- bearerAuth: []
tags:
- name: Reports
paths:
  /v1/companies/{company_uuid}/reports:
    post:
      summary: Create custom report
      operationId: createReport
      tags:
      - Reports
      parameters:
      - in: path
        name: company_uuid
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Report queued.
  /v1/reports/{request_uuid}:
    get:
      summary: Retrieve report status and URL
      operationId: getReport
      tags:
      - Reports
      parameters:
      - in: path
        name: request_uuid
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Report status and download URL.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth 2.0 access token for company-level access or system-level bearer

        token for partner operations. Scopes such as payrolls:read, payrolls:run,

        contractors:write provide fine-grained permissions.

        '
