openapi: 3.1.0
info:
  title: Gusto Embedded Payroll BankAccounts Payrolls API
  version: 1.0.0
  description: 'REST API for embedding Gusto''s payroll, tax filing, and HR workflows into

    third-party platforms. Supports companies, contractors, employees,

    payrolls, contractor payments, bank accounts, pay schedules, flows,

    reports, and webhook events. Date-based API versioning. Authentication is

    via OAuth 2.0 for company-level access or a system-level bearer token for

    partner operations, with fine-grained scopes.

    '
  contact:
    name: Gusto Developer Documentation
    url: https://docs.gusto.com/embedded-payroll
servers:
- url: https://api.gusto.com
  description: Gusto production API
security:
- bearerAuth: []
tags:
- name: Payrolls
paths:
  /v1/companies/{company_id}/payrolls:
    get:
      summary: List payrolls
      operationId: listPayrolls
      tags:
      - Payrolls
      parameters:
      - in: path
        name: company_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of payrolls.
    post:
      summary: Create off-cycle payroll
      operationId: createOffCyclePayroll
      tags:
      - Payrolls
      parameters:
      - in: path
        name: company_id
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Payroll created.
  /v1/companies/{company_id}/payrolls/{payroll_id}/submit:
    put:
      summary: Submit payroll
      operationId: submitPayroll
      tags:
      - Payrolls
      parameters:
      - in: path
        name: company_id
        required: true
        schema:
          type: string
      - in: path
        name: payroll_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Payroll submitted.
  /v1/companies/{company_id}/payrolls/{payroll_id}/calculate:
    put:
      summary: Calculate payroll taxes and benefits
      operationId: calculatePayroll
      tags:
      - Payrolls
      parameters:
      - in: path
        name: company_id
        required: true
        schema:
          type: string
      - in: path
        name: payroll_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Payroll calculation initiated.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth 2.0 access token for company-level access or system-level bearer

        token for partner operations. Scopes such as payrolls:read, payrolls:run,

        contractors:write provide fine-grained permissions.

        '
