openapi: 3.1.0
info:
  title: Gusto Embedded Payroll BankAccounts Contractors API
  version: 1.0.0
  description: 'REST API for embedding Gusto''s payroll, tax filing, and HR workflows into

    third-party platforms. Supports companies, contractors, employees,

    payrolls, contractor payments, bank accounts, pay schedules, flows,

    reports, and webhook events. Date-based API versioning. Authentication is

    via OAuth 2.0 for company-level access or a system-level bearer token for

    partner operations, with fine-grained scopes.

    '
  contact:
    name: Gusto Developer Documentation
    url: https://docs.gusto.com/embedded-payroll
servers:
- url: https://api.gusto.com
  description: Gusto production API
security:
- bearerAuth: []
tags:
- name: Contractors
paths:
  /v1/companies/{company_uuid}/contractors:
    get:
      summary: List contractors
      operationId: listContractors
      tags:
      - Contractors
      parameters:
      - in: path
        name: company_uuid
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of contractors.
    post:
      summary: Create contractor
      operationId: createContractor
      tags:
      - Contractors
      parameters:
      - in: path
        name: company_uuid
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Contractor created.
  /v1/contractors/{contractor_uuid}:
    put:
      summary: Update contractor
      operationId: updateContractor
      tags:
      - Contractors
      parameters:
      - in: path
        name: contractor_uuid
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Contractor updated.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth 2.0 access token for company-level access or system-level bearer

        token for partner operations. Scopes such as payrolls:read, payrolls:run,

        contractors:write provide fine-grained permissions.

        '
