openapi: 3.1.0
info:
  title: Gusto Embedded Payroll API
  version: 1.0.0
  description: |
    REST API for embedding Gusto's payroll, tax filing, and HR workflows into
    third-party platforms. Supports companies, contractors, employees,
    payrolls, contractor payments, bank accounts, pay schedules, flows,
    reports, and webhook events. Date-based API versioning. Authentication is
    via OAuth 2.0 for company-level access or a system-level bearer token for
    partner operations, with fine-grained scopes.
  contact:
    name: Gusto Developer Documentation
    url: https://docs.gusto.com/embedded-payroll
servers:
  - url: https://api.gusto.com
    description: Gusto production API
security:
  - bearerAuth: []
tags:
  - name: Companies
  - name: Contractors
  - name: Employees
  - name: Payrolls
  - name: ContractorPayments
  - name: BankAccounts
  - name: PaySchedules
  - name: Flows
  - name: Reports
  - name: Webhooks
paths:
  /v1/companies:
    get:
      summary: Retrieve company information
      operationId: listCompanies
      tags: [Companies]
      responses:
        "200":
          description: Company information.
  /v1/partner-managed-companies:
    post:
      summary: Create partner-managed company
      operationId: createPartnerManagedCompany
      tags: [Companies]
      responses:
        "201":
          description: Company created.
  /v1/companies/{company_id}:
    put:
      summary: Update company details
      operationId: updateCompany
      tags: [Companies]
      parameters:
        - in: path
          name: company_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Company updated.
  /v1/companies/{company_id}/federal_tax_details:
    get:
      summary: Get federal tax configuration
      operationId: getFederalTaxDetails
      tags: [Companies]
      parameters:
        - in: path
          name: company_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Federal tax configuration.
  /v1/companies/{company_uuid}/contractors:
    get:
      summary: List contractors
      operationId: listContractors
      tags: [Contractors]
      parameters:
        - in: path
          name: company_uuid
          required: true
          schema:
            type: string
      responses:
        "200":
          description: List of contractors.
    post:
      summary: Create contractor
      operationId: createContractor
      tags: [Contractors]
      parameters:
        - in: path
          name: company_uuid
          required: true
          schema:
            type: string
      responses:
        "201":
          description: Contractor created.
  /v1/contractors/{contractor_uuid}:
    put:
      summary: Update contractor
      operationId: updateContractor
      tags: [Contractors]
      parameters:
        - in: path
          name: contractor_uuid
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Contractor updated.
  /v1/employees/{employee_id}/salary_estimates:
    post:
      summary: Create salary estimate
      operationId: createSalaryEstimate
      tags: [Employees]
      parameters:
        - in: path
          name: employee_id
          required: true
          schema:
            type: string
      responses:
        "201":
          description: Salary estimate created.
  /v1/companies/{company_id}/payrolls:
    get:
      summary: List payrolls
      operationId: listPayrolls
      tags: [Payrolls]
      parameters:
        - in: path
          name: company_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: List of payrolls.
    post:
      summary: Create off-cycle payroll
      operationId: createOffCyclePayroll
      tags: [Payrolls]
      parameters:
        - in: path
          name: company_id
          required: true
          schema:
            type: string
      responses:
        "201":
          description: Payroll created.
  /v1/companies/{company_id}/payrolls/{payroll_id}/submit:
    put:
      summary: Submit payroll
      operationId: submitPayroll
      tags: [Payrolls]
      parameters:
        - in: path
          name: company_id
          required: true
          schema:
            type: string
        - in: path
          name: payroll_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Payroll submitted.
  /v1/companies/{company_id}/payrolls/{payroll_id}/calculate:
    put:
      summary: Calculate payroll taxes and benefits
      operationId: calculatePayroll
      tags: [Payrolls]
      parameters:
        - in: path
          name: company_id
          required: true
          schema:
            type: string
        - in: path
          name: payroll_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Payroll calculation initiated.
  /v1/companies/{company_id}/contractor_payments:
    get:
      summary: List contractor payments
      operationId: listContractorPayments
      tags: [ContractorPayments]
      parameters:
        - in: path
          name: company_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: List of contractor payments.
    post:
      summary: Pay contractor
      operationId: createContractorPayment
      tags: [ContractorPayments]
      parameters:
        - in: path
          name: company_id
          required: true
          schema:
            type: string
      responses:
        "201":
          description: Payment created.
  /v1/companies/{company_id}/contractor_payment_groups:
    post:
      summary: Create contractor payment group
      operationId: createContractorPaymentGroup
      tags: [ContractorPayments]
      parameters:
        - in: path
          name: company_id
          required: true
          schema:
            type: string
      responses:
        "201":
          description: Payment group created.
  /v1/companies/{company_id}/bank-accounts:
    post:
      summary: Create bank account
      operationId: createBankAccount
      tags: [BankAccounts]
      parameters:
        - in: path
          name: company_id
          required: true
          schema:
            type: string
      responses:
        "201":
          description: Bank account created.
  /v1/companies/{company_id}/bank-accounts/verify:
    put:
      summary: Verify bank account deposits
      operationId: verifyBankAccount
      tags: [BankAccounts]
      parameters:
        - in: path
          name: company_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Bank account verified.
  /v1/companies/{company_id}/bank-accounts/{bank_account_id}:
    delete:
      summary: Disable bank account
      operationId: deleteBankAccount
      tags: [BankAccounts]
      parameters:
        - in: path
          name: company_id
          required: true
          schema:
            type: string
        - in: path
          name: bank_account_id
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Bank account disabled.
  /v1/companies/{company_id}/pay_schedules:
    get:
      summary: List pay schedules
      operationId: listPaySchedules
      tags: [PaySchedules]
      parameters:
        - in: path
          name: company_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: List of pay schedules.
    post:
      summary: Create pay schedule
      operationId: createPaySchedule
      tags: [PaySchedules]
      parameters:
        - in: path
          name: company_id
          required: true
          schema:
            type: string
      responses:
        "201":
          description: Pay schedule created.
  /v1/companies/{company_id}/pay_schedules/{pay_schedule_id}:
    put:
      summary: Update pay schedule
      operationId: updatePaySchedule
      tags: [PaySchedules]
      parameters:
        - in: path
          name: company_id
          required: true
          schema:
            type: string
        - in: path
          name: pay_schedule_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Pay schedule updated.
  /v1/company/flows:
    post:
      summary: Generate flow link
      description: Returns a flow link that expires in 1 hour.
      operationId: createFlowLink
      tags: [Flows]
      responses:
        "201":
          description: Flow link created.
  /v1/companies/{company_uuid}/reports:
    post:
      summary: Create custom report
      operationId: createReport
      tags: [Reports]
      parameters:
        - in: path
          name: company_uuid
          required: true
          schema:
            type: string
      responses:
        "202":
          description: Report queued.
  /v1/reports/{request_uuid}:
    get:
      summary: Retrieve report status and URL
      operationId: getReport
      tags: [Reports]
      parameters:
        - in: path
          name: request_uuid
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Report status and download URL.
  /v1/events:
    get:
      summary: Fetch webhook events
      description: Returns events from the last 30 days.
      operationId: listEvents
      tags: [Webhooks]
      responses:
        "200":
          description: List of events.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: |
        OAuth 2.0 access token for company-level access or system-level bearer
        token for partner operations. Scopes such as payrolls:read, payrolls:run,
        contractors:write provide fine-grained permissions.
